body{
    margin: 0%;
    padding: 0%;
}
ul{
    list-style-type: none;
    display: flex;
    justify-content: space-between;
}
li{
    padding-right: 15px;
}
nav{
    float:right;
    display: flex;
    justify-content: space-between;
    margin
}
.left-box{
    float:left;
    display:flex;
    justify-content:;
}