body{
    margin-top:15px;
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
}

nav{
    float:right;
    display: flex;
    font-size: 13px;
    line-height: 24px;
    padding-right: 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
}
.nav{
    display: flex;
}
a{
    padding-right: 14px;
}


a:link{
        color:black;
        text-decoration: none;
}
a:active{
    color: black;
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}
a:visited{
    color: black;
    text-decoration: none;
}
#sign-in{
    line-height: 16px;
    font-size: 15px;
    color: white;
    width: auto;
    background-color: #1a73e8;
    height: 15px;
    width: 50px;
    padding: 9px 23px;
    border-radius: 4px;
}
#newAnc{
    color: white;
}

.flexbox-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 13%;
    padding-top: 8%;
}
.item-2{
    display: flex;
    flex-direction: column;
}
#search{
    border: none;
}
#search-bar{
    display: flex;
    justify-content: center;
    border: 1px solid #dadce0;
    border-spacing: 5px;
    border-radius: 23px;
    padding-right: 20px;
}
#searchImg{
    padding-right: 10px;
    padding-left: 7px;
    padding-top: 10px;
    height: 20px;
}
input[type=search] {
    width: 500px;
    height: 45px;
    font-size: 16px;
    font-family: Arial;
    font-weight: 400;
}
input[type=search]:focus{
    outline: none;
}
search:active{
    border: none;
}

.submit-buttons{
    margin-left: 150px;
    display: flex;
}
.google-search{
    background-color: #f8f9fa;
    border: 1px solid #f8f9fa;
    border-radius: 4px;
    color: #3c4043;
    font-family: arial,sans-serif;
    font-size: 14px;
    margin: 11px 4px;
    padding: 0 16px;
    line-height: 27px;
    height: 36px;
    min-width: 54px;
    text-align: center;
    
}
.item-3{
    font-size: 13px;
    line-height: 28px;
    font-weight: 400;
}
#blue{
    color: darkblue;
}
.flexbox-container{
    padding-bottom: 60px;
}
footer{
    position: absolute;
    width: 100%;
    bottom: 0%;
    display: flex;
    flex-direction: column;
    background-color: #f2f2f2;
}

#location{
    border-bottom: 1px solid #dadce0;
    color: rgba(0,0,0,.54);
    font-size: 15px;
    font-weight: 400;
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 20px;
    
}
#container{
    
    display: flex;
    justify-content: space-between;
    padding-bottom: 10px;
    padding-top: 15px;
    padding-left: 20px;
    padding-right: 20px;
}
#newAnc2{
    font-size: 14px;
    font-weight: 400;
    font-family: Arial, Helvetica, sans-serif;
    color: rgba(0,0,0,.54);
}
#newAnc3{
    font-size: 14px;
    font-weight: 400;
    font-family: Arial, Helvetica, sans-serif;
    color: rgba(0,0,0,.54);
}
#newAnc4{
    font-size: 14px;
    font-weight: 400;
    font-family: Arial, Helvetica, sans-serif;
    color: rgba(0,0,0,.54);
}
#newAnc5{
    font-size: 14px;
    font-weight: 400;
    font-family: Arial, Helvetica, sans-serif;
    color: rgba(0,0,0,.54);
}
#newAnc6{
    font-size: 14px;
    font-weight: 400;
    font-family: Arial, Helvetica, sans-serif;
    color: rgba(0,0,0,.54);
}
#newAnc7{
    font-size: 14px;
    font-weight: 400;
    font-family: Arial, Helvetica, sans-serif;
    color: rgba(0,0,0,.54);
}
#newAnc8{
    font-size: 14px;
    font-weight: 400;
    font-family: Arial, Helvetica, sans-serif;
    color: rgba(0,0,0,.54);
}
